/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
         url('../fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* source-sans-pro-700 - latin */
  @font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
         url('../fonts/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.jumbotron {
    background-color: rgba(200, 200, 240, 0.2);
    margin-bottom: 0%;
}

#button-adress {
    font-size: 14pt;
}

#contact-container {
    padding-bottom: 5em;
    padding-top: 3.5em;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: #1b1b1b;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #1b1b1b;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    color: #1b1b1b;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    color: #1b1b1b;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    color: #1b1b1b;
}

a {
    font-family: 'Open Sans', sans-serif;
}

.lead {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

#contact-button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
}

.temp-padding {
    padding-top: 1em;
    padding-bottom: 6em;
}
